@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1624;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Grotesk", sans-serif; /* Gunakan font baru */

  max-width: 1280px;
  width: 100%;
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
}

.styled-link-button {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.33);
  box-sizing: border-box;
  border-radius: 999px;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  width: fit-content;
  margin-top: 32px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  background: linear-gradient(270deg, #ff622e 0%, #b133ff 100%);
}

.styled-link-button:focus {
  outline: none;
}

.styled-link-button:hover {
  color: #0f1624;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 4px 8px rgba(46, 49, 55, 0.15),
    0px 0px 4px rgba(20, 20, 55, 0.3);
  transform: translateY(-1px);
}

.styled-link-button:active {
  background: #e0e4eb;
  border: 1px solid #304169;
  box-shadow: inset 0px 2px 1px rgba(46, 49, 55, 0.15),
    inset 0px 0px 4px rgba(20, 20, 55, 0.3);
}
